.input-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 550px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(176 190 197);
    padding-left: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-size: large;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container input:focus {
    border: 1px solid rgb(6, 9, 161);
}

.invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 1px;
    z-index: 10;
    border-radius: 4px;
    background-color: rgb(6, 9, 161);
    color: #fff;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .3s ease;

}

.invite-btn:hover {
    right: 0px;
    top: 0px;
    bottom: -3px;
    border-radius: 8px;
}

.input-container input:placeholder-shown~.invite-btn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
}