.container{
    height: 16vh;
    color: #fff;
}

.head{
    background-color:var(--headercolor);
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-bottom: 2px;
}
